SetEnv TW_APP_SEC xCbOwvzqBmjaKuLqGyU4o8NgkGXB7j81exN3ZxzVmpdMVvkGid
SetEnv TW_APP_KEY eRjx8XkZ1ajUUGE1UgoZFHUjh 
SetEnv TW_ACC_KEY 9594462-bYoakOLJBcqBlbDDw3J81ZAhUfn2CMGKkACRI0p4Sb
SetEnv TW_ACC_SEC bVXKJaGnodAWyYRh0BDZ3T46hHUuihGnyspJOsyppgVgb